.section__home {
  padding: 10rem;
  width: 100%;
  overflow-x: hidden;
}

.center {
  margin: 0 auto;
}

.text__box {
  position: relative;
  z-index: 999;
}

.home__heading {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  animation: moveFromTop 3s ease-in-out;
  transition: all 0.3s;
}

.home__heading__1 {
  opacity: 95%;
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.home__heading__1__span {
  font-weight: 400;
}

.home__heading__2 {
  color: #ffab4c;
}

.home__para {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 80%;
  margin-top: 3rem;
  width: 40%;
  margin: 0 auto;
}

.hero__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  opacity: 0.7;
  margin-top: -15rem;
}

@media (max-width: 600px) {
  .home__heading {
    font-size: 4rem;
  }

  .hero__img {
    width: 100%;
  }

  .home__para {
    width: 70%;
    margin-bottom: 9rem;
  }
}
